name: Build an Deploye to Docker Hub

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      #checkout repository
      - name: Checkout code
        uses: actions/checkout@v3

      # setup python
      - name: Setup python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      # install dependancy
      - name: install dependancy
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: run test
        run: pytest

      - name: login in to DockerHUB
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Push Docker images
        run: |
          docker Push ${{ secrets.DOCKERHUB_USERNAME }}/valid-solution:latest
